.projects {
  background-color: var(--white);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-6);
  margin-bottom: var(--space-10);
}

.projects .explore-all {
  display: flex;
  margin: auto;
}

/* RESPONSIVNESS */
@media (max-width: 1180px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 820px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-4);
  }
}

@media (max-width: 577px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
