.technologies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-block: var(--space-3);
}

.technologies img {
  width: 42px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .technologies {
    padding-block: var(--space-2);
  }

  .technologies img {
    width: 38px;
  }
}
