.section-title {
  margin-bottom: var(--space-5);
  display: inline-block;
}

.section-title h2 {
  font-family: var(--font-main);
  color: var(--blue);
  font-size: var(--font-2xl);
  font-weight: var(--font-normal);
  text-transform: uppercase;
  margin-bottom: var(--space-3);
}

.section-title .line {
  width: 35%;
  height: 0.67px;
  background-color: var(--black);
}
