.hero {
  background-color: var(--navy);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: var(--shadow);
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/images/noise.png");
  background-repeat: repeat;
  opacity: 0.8;
  z-index: 0;
  pointer-events: none;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.hero .content h1 {
  font-family: var(--font-main);
  color: var(--gold);
  font-size: 64px;
  font-weight: var(--font-normal);
  letter-spacing: -1%;
  line-height: 1.3;
  margin-bottom: var(--space-2-5);
}

.hero .content p {
  font-family: var(--font-secondary);
  color: var(--cloud);
  font-size: var(--font-md);
  width: 52%;
  line-height: 1.6;
}

.hero .go-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}

.hero .go-down img {
  width: 18px;
  opacity: 0.8;
}

.hero .go-down img:hover {
  opacity: 1;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

/* RESPONSIVNESS */
@media (max-width: 993px) {
  .hero .content h1 {
    font-size: 52px;
    width: 90%;
  }
}

@media (max-width: 769px) {
  .hero .content h1 {
    font-size: 46px;
  }

  .hero .content p {
    width: 75%;
  }
}

@media (max-width: 577px) {
  .hero .content h1 {
    font-size: 42px;
    width: 90%;
  }

  .hero .content p {
    font-size: var(--font-sm);
    width: 78%;
  }
}

@media (max-width: 576px) {
  .hero .content h1 {
    font-size: 42px;
    width: 90%;
  }

  .hero .content p {
    font-size: var(--font-sm);
    width: 78%;
  }
}
