.hero {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-inline: 4%;
}

.hero .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-12);
  z-index: 2;
}

.hero .content .title {
  width: 60%;
}

.hero .content h1 {
  font-family: var(--font-main);
  color: var(--black);
  font-size: 64px;
  font-weight: var(--font-normal);
  letter-spacing: -1%;
  line-height: 1.3;
}

.hero .content .desc {
  width: 40%;
}

.hero .content p {
  font-family: var(--font-secondary);
  color: var(--text);
  font-size: 18px;
  line-height: 1.7;
  width: 75%;
}

.hero .view-work {
  position: absolute;
  left: 4%;
  bottom: var(--space-4);
}

.hero .social {
  position: absolute;
  right: 4%;
  bottom: var(--space-4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-2-5);
}

.hero .social .line {
  height: 0.67px;
  background-color: var(--black);
  transform: translateY(1px);
}

.hero .social .line1 {
  width: 20px;
}

.hero .social .line2 {
  width: 40px;
}

.hero .social .line3 {
  width: 80px;
}

.hero .social a {
  display: flex;
}

.hero .social a img {
  width: 24px;
}

.hero .social a img:hover {
  transform: translateY(-2px);
}

/* RESPONSIVNESS */
@media (max-width: 993px) {
  .hero .content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-3);
  }

  .hero .content .title {
    width: 100%;
  }

  .hero .content .desc {
    width: 100%;
  }

  .hero .content h1 {
    font-size: 52px;
    width: 50%;
  }

  .hero .content p {
    width: 70%;
  }
}

@media (max-width: 769px) {
  .hero .content h1 {
    font-size: 46px;
  }

  .hero .social {
    display: none;
  }
}

@media (max-width: 577px) {
  .hero .content h1 {
    font-size: 42px;
    width: 90%;
  }

  .hero .content p {
    font-size: var(--font-sm);
    width: 78%;
  }
}

@media (max-width: 576px) {
  .hero .content h1 {
    font-size: 42px;
    width: 90%;
  }
}
