.project-card {
  width: 100%;
  max-width: 360px;
  min-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: auto;
  transform: none !important;
  will-change: auto !important;
  background-color: var(--white);
}

.project-card .image {
  height: 348px;
  border: 0.67px solid var(--light-gray);
}

.project-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card .content {
  background-color: var(--white);
  position: relative;
  padding-top: var(--space-2);
}

.project-card .content h3 {
  font-family: var(--font-main);
  color: var(--black);
  font-size: var(--font-xl);
  font-weight: var(--font-normal);
  margin-bottom: var(--space-2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
}

.project-card .content .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card .content .techs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-3);
}

.project-card .content .tech-icon {
  display: flex;
}

.project-card .content .tech-icon img {
  width: 32px;
}

/* MODAL */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 90%;
  max-height: 90vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal h2 {
  font-family: var(--font-main);
  color: var(--white);
  font-size: var(--font-2xl);
  background-color: var(--black);
  padding: var(--space-0-5) var(--space-1-5);
  margin-bottom: var(--space-3);
  display: inline-block;
  text-align: center;
  margin-inline: auto;
}

.modal .image-scroll-wrapper {
  width: 100%;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f0f0f0;
  box-shadow: var(--shadow);
  position: relative;
}

.modal .image-scroll-wrapper img {
  width: 100%;
  display: block;
  object-fit: contain;
}

.modal .close-button {
  position: absolute;
  top: var(--space-11);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: var(--white);
  padding: var(--space-1);
  border-radius: var(--radius-50);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-xl);
}

.modal .close-button img {
  width: 18px;
}

.modal .close-button:hover {
  transform: translateY(-2px) translateX(-50%);
}

@media (max-width: 550px) {
  .modal {
    max-height: 94vh;
    height: 94vh;
  }

  .modal .close-button {
    top: var(--space-10);
  }

  .modal .close-button img {
    width: 18px;
  }

  .modal .image-scroll-wrapper {
    width: 100%;
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: var(--shadow);
    position: relative;
  }
}

@media (max-width: 490px) {
  .modal h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .modal .close-button img {
    width: 16px;
  }
}
