.project-card {
  border: 1px solid var(--gray);
  width: 100%;
  max-width: 360px;
  min-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: auto;
  transform: none !important;
  will-change: auto !important;
}

.project-card:hover {
  box-shadow: var(--shadow);
}

.project-card .image {
  height: 348px;
}

.project-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--shadow);
}

.project-card .content {
  background-color: var(--navy);
  position: relative;
  padding: var(--space-2);
}

.project-card .content::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../../assets/images/noise.png");
  background-repeat: repeat;
  opacity: 0.8;
  z-index: 0;
  pointer-events: none;
}

.project-card .content h3 {
  font-family: var(--font-main);
  color: var(--gold);
  font-size: var(--font-xl);
  margin-bottom: var(--space-1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
}

.project-card .content p {
  font-family: var(--font-secondary);
  color: var(--cloud);
  font-size: var(--font-md);
  margin-bottom: var(--space-2);
  line-height: 1.6;
}

.project-card .content .techs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-1-5);
  margin-bottom: var(--space-2-5);
}

.project-card .content .tech-icon {
  width: 40px;
  padding: 6px;
  border-radius: var(--radius-50);
  background-color: #2f497a45;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card .content .tech-icon img {
  width: 98%;
}

.project-card .content button {
  width: 100%;
}

/* MODAL */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.modal .close-button {
  position: absolute;
  top: var(--space-1);
  right: 4%;
  background: transparent;
  border: none;
  color: var(--white);
  font-size: var(--font-xl);
}

.modal .close-button img {
  width: 23px;
}

.modal .close-button:hover img {
  transform: translateY(-2px);
}

.modal h2 {
  font-family: var(--font-main);
  color: var(--gold);
  font-size: var(--font-2xl);
  background-color: var(--blue);
  padding-inline: var(--space-1-5);
  margin-bottom: var(--space-3);
  display: inline-block;
  margin-inline: auto;
}

.modal .image-scroll-wrapper {
  width: 100%;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.modal .image-scroll-wrapper img {
  width: 100%;
  display: block;
  object-fit: contain;
}
