header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: var(--space-1) 4%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

header .logo img {
  width: 120px;
}

header .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-6);
}

/* Desktop / Tablet nav */
header .right .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-6);
}

header .right .nav-links a {
  font-family: var(--font-secondary);
  color: var(--cloud);
  font-size: var(--font-md);
  position: relative;
}

header .right .nav-links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--gold);
}

header .right .nav-links a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background-color: var(--gold);
}

header .right .nav-links a:hover::before,
header .right .nav-links a:hover::after {
  width: 100%;
}

/* Burger / Close Button */
header .right .open-list {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
  z-index: 11000;
}

header .right .open-list img {
  width: 34px;
}

@media (min-width: 769px) {
  header .mobile-nav {
    display: none !important;
  }
}

@media (max-width: 768px) {
  header .right .desktop-nav {
    display: none !important;
  }

  header .right .open-list {
    display: block;
  }

  header .right .contact-button {
    display: none;
  }

  header .mobile-nav {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 75vh;
    background-color: var(--cloud);
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    box-shadow: var(--shadow);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-6) 4% var(--space-2-5);
  }

  header .mobile-nav .top ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    text-align: center;
  }

  header .mobile-nav .top a {
    color: var(--text);
    font-size: var(--font-lg);
    font-family: var(--font-secondary);
    position: relative;
  }

  header .mobile-nav.open {
    bottom: 0;
  }

  header .mobile-nav .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    width: 100%;
    padding-top: var(--space-2-5);
  }

  header .mobile-nav .bottom .main-button {
    font-size: var(--font-sm);
    color: var(--blue);
    padding: 10px var(--space-3);
  }

  header .mobile-nav .bottom .social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-2);
  }

  header .mobile-nav .bottom .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .mobile-nav .bottom .social-icons img {
    width: 24px;
  }
}
