header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: var(--space-1) 4%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

header .logo img {
  width: 120px;
}

header .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-5);
}

header .right .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-5);
}

header .right .nav-links a {
  font-family: var(--font-secondary);
  color: var(--cloud);
  font-size: var(--font-md);
  position: relative;
}

header .right .nav-links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  transform: translateY(4px);
  background-color: var(--gold);
  opacity: 0;
}

header .right .nav-links a:hover::before {
  transform: translateY(0);
  opacity: 1;
}

header .right .open-list {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

header .right .open-list img {
  width: 34px;
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
  header .right {
    position: relative;
  }

  header .right .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background-color: var(--blue);
    padding: var(--space-3);
    width: 200px;
    display: none;
    box-shadow: var(--shadow);
    gap: var(--space-4);
    z-index: 1000;
  }

  header .right .nav-links::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../assets/images/noise.png");
    background-repeat: repeat;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
  }

  header .right .nav-links.open {
    display: flex;
  }

  header .right .nav-links a {
    color: var(--gold);
    font-size: var(--font-sm);
  }

  header .right .open-list {
    display: block;
  }

  header .right .contact-button {
    display: none;
  }
}
