.footer {
  background-color: var(--white);
  padding: var(--space-8) 4% var(--space-2);
  position: relative;
  border-top: 0.67px solid var(--light-gray);
}

.footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-8);
}

.footer .logo img {
  width: 125px;
}

.footer .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  gap: var(--space-4);
  margin-bottom: var(--space-8);
}

.footer .contact-info {
  font-family: var(--font-secondary);
  color: var(--black);
  font-size: var(--font-md);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
}

.footer .contact-info:hover {
  text-decoration: underline;
}

.footer .contact-info img {
  width: 20px;
}

.footer .line {
  width: 0.67px;
  height: 24px;
  background-color: var(--light-gray);
  opacity: 0.6;
}

.footer .social-icons {
  gap: var(--space-2);
}

.footer .social-icons img {
  width: 24px;
}

.footer .social-icons a:hover {
  transform: translateY(-2px);
}

.footer .rights {
  text-align: center;
  font-family: var(--font-secondary);
  color: var(--text);
  font-size: var(--font-sm);
}

/* RESPONSIVNESS */
@media (max-width: 950px) {
  .footer .contact {
    flex-direction: column;
  }

  .footer .contact .line {
    width: 42px;
    height: 1px;
  }
}
