.all-projects {
  background-color: var(--cloud);
}

.all-projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-6);
  margin-bottom: var(--space-8);
}

.all-projects .go-back {
  display: flex;
  margin: auto;
  margin-bottom: var(--space-8);
}

.all-projects .cta {
  font-family: var(--font-secondary);
  color: var(--text);
  font-size: var(--font-md);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
}

.all-projects .cta a img {
  width: 18px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(4px);
  }
}

/* RESPONSIVNESS */
@media (max-width: 1180px) {
  .all-projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 820px) {
  .all-projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 577px) {
  .all-projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .all-projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
